<% var className = isPremium ? 'panel-primary' : (isEnabled ? 'panel-success' : 'panel-default'); %>
<div class="panel <%= className %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %></h3>
  </div>
  <div class="panel-body">
    <%= description %>
  </div>
  <div class="panel-footer">
    <div class="checkbox">
      <input type="checkbox" <% if (isEnabled) { %>checked<% } %>>
      <% if (isPremium) { %>
        <div class="description">
          This is a premium feature, and can't be activated directly.
        </div>
      <% } %>
    </div>
  </div>
</div>
