<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="#/" class="navbar-brand"><span class="glyphicon glyphicon-fire text-danger"></span> SocialHub</a>
      <span class="navbar-brand">v1.22.8</span>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="#features"><span class="glyphicon glyphicon-cog"></span> Addons <span class="badge"></span></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="about-menu"><a href="#about">About</a></li>
      <li>
        <a><span class="glyphicon glyphicon-user"></span> Hello, <span class="user-name">{username}</span></a>
      </li>
      <li><button type="button" class="btn btn-success">Create Addon</button></li>
    </ul>
  </div>
</div>
